services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: solwatch
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - 127.0.0.1:5432:5432
  
  app:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/solwatch
    ports:
      - 127.0.0.1:5000:5000
    restart: unless-stopped

volumes:
  postgres_data:

