.nav-bar {
  padding: 10px 15px;
  background-color: #000000a9;
}

.logo {
  height: 12px;
  margin-right: 10px;
}

.title {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.search-bar {
  margin-bottom: 10px;
}
